.card {
    background-color: var(--primary-color);
    margin: 40px 20px;
    padding: 30px 25px;
    border-radius: 10px;
    cursor: pointer;
}

.card-img {
    margin-right: 10px;
}

.card-title {
    color: var(--secondary-color);
}

.card-title:hover {
    color: #4169E1;
}

.card .card-desc {
    color: var(--text-light);
    margin-top: 20px;
}

/* .card-title {
    /* padding-bottom: 10px; */
    /* padding-left: 15px; */
    /* text-align: center; */
    /* background-color: tomato; 
}*/

